#main
  %h4= flash[:notice] if flash[:notice] 
  %h3
    = "Product Details For #{@product.name}"
  %table.products_table
    %th Image
    %th Description
    %th Appropriate ages
    %th Price
    %tr
      %td= image_tag(@product.image.url(:medium))
      %td= @product.description
      %td= @product.age_range
      %td#price= number_to_currency(@product.price)
  = link_to "Edit product details", edit_product_path
  = link_to "Back to product list", products_path
